<!DOCTYPE html>
<html>
<head>
  <title>Tickets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <% if user_signed_in? %>
    <div class="right">
       <%= current_user.email %><br>
       <%= link_to('Logout', destroy_user_session_path, :method => :delete)%>
    </div>
  <% end %>
  <%= Rails.application.secrets.title %>
</div>
<div class="main">
<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>
<%= yield %>
</div>

</body>
</html>
